.page {
  display: grid;
  grid-template-columns: clamp(300px, 30vw, 450px) 1fr;
  height: 100%;
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }

  .page:not(.chatOpen) > :last-child,
  .chatOpen > :first-child {
    display: none;
  }
}
